.Main {
	background-color: gray;
	padding-top: 60px;
	padding-bottom: 10px;
	height: 800px;
}
.Register {
	background-color: white;
	width: 50%;
	left: 50vh;
	position: relative;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-radius: 5px;
}
.Reg1 {
	border: 2px solid grey;
	border-radius: 5px;
	box-shadow: 2px 5px 5px 1px;
}
.fc {
	border: none;
	border-bottom: 2px solid grey;
	border-radius: unset;
}
.lbl {
	text-decoration: underline;
}
